@use "../custom" as *;
@use "../components/mixins" as *;

.menu {
    @include gradient;

    li {
        padding: 0 0.7rem;

        a {
            color: $white;
            text-transform: capitalize;
            font-weight: 600;
            text-decoration: none;
            transition: 0.3s all;
            font-size: larger;

            }    
        }
    }

    .navbar .navbar-nav .nav-link:hover {
        background-color: $primary;
        opacity: 80%;
    }

    .navbar .navbar-nav .nav-link {
        transition: all .5s;
    }



    
    
    

